.pitch{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    color: blanchedalmond;
}

h2{
    color: rgb(189, 9, 9);
}
#submit{
    background-color: rgb(189, 9, 9) ;
}