{% extends 'base.html'%} {% import 'macros.html' as macro %}
<!-- Styles block -->
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
<link
  href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
  rel="stylesheet"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
{% endblock %} {% block content %}
<div class="container pitch">
    <div class="  row">
        <div class="col">
            <div class="panel panel-default text-center">
                <div class="panel-body">
                  <h2 style ="color:maroon;">Social Pitches</h2>
                  <p>Consistency is something you can always improve on. You can be more consistent with your mental approach, the things you do physically on the mound.</p>
                  <div id="social">{{ macro.showPitch(social)}}</div>
                </div>
            </div>
        <div>
        
        <div class="col">
            <div class="panel panel-default text-center">
              <div class="panel-body">
                <h2 style ="color:maroon;">Business Pitches</h2>
                 <p>I never keep a scorecard or the batting averages. I hate statistics. What I got to know, I keep in my head. </p>
                <div id="business">{{ macro.showPitch(business)}}</div>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="panel panel-default text-center">
              <div class="panel-body">
                <h2 style ="color:maroon;">Interview Pitches</h2>
                 <p>I can't tell you why there's a delay, but stick your head out of the window and you'll know why.</p>
                <div id="interview">{{ macro.showPitch(interview)}}</div>
              </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
