{% macro displayPitches(pitch_list) %} 

{% block content %}
  <h3 class="text-center" style="font-weight: bolder;"> TWITTER PITCHES</h3>
  <hr style="width: 50%;">
        <div>
            {{ macro.display(twitter) }}
        </div>

  <h3 class="text-center" style="font-weight: bolder;"> ElEVATOR PITCHES</h3>
  <hr style="width: 50%;">
        <div>
            {{ macro.display(elevator) }}
        </div>   
        
  <h3 class="text-center" style="font-weight: bolder;"> COMPETITION PITCHES</h3>
  <hr style="width: 50%;">
        <div>
            {{ macro.display(competition) }}
        </div>
        
   <h3 class="text-center" style="font-weight: bolder;"> INVESTOR PITCHES</h3>
   <hr style="width: 50%;">
        <div>
            {{ macro.display(investor) }}
        </div>     
        
{% endblock %}       

{% endmacro %}